
      h1 {
        color: aqua;
        background-color: red;
      }
      body {
        background-color: rgba(0, 0, 0, 0.264);
      }
      p {
      color: red;}
 
      div{
        background-color: red;
      }
#t-shirt{
  background-color: navy;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
